{% if tags and "gardenEntry" in tags %}
<div id="rings">
<div class="toc-title-container">
<div class="toc-title">Webrings</div>
</div>
<div class="rings-container">
<div class = "ring-entry">
<div id='thebookring'> 

</div>
</div>
</div>
</div>
{% endif %}

{% if tags and "gardenEntry" in tags %}
</div>
{% endif %}


